<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/aarg.png">
	
	<title>Robot Control</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-android"></em> Minion Control</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
			</nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
			
				<section class="row">
					<div class="col-sm-12">
					{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
						<form class="form-horizontal" action="/signin" method="post">
							<fieldset>
								<!-- username-->
								<div class="form-group">
									<label class="col-6 control-label no-padding" for="username">Username</label>
									
									<div class="col-6 no-padding">
										<input id="username" name="username" type="text" placeholder="Enter your username" class="form-control">
									</div>
								</div>
							
								<!-- password-->
								<div class="form-group">
									<label class="col-6 control-label no-padding" for="password">Password</label>
									
									<div class="col-6 no-padding">
										<input id="password" name="password" type="password" placeholder="Enter Password" class="form-control">
									</div>
								</div>
								
								<!-- Form actions -->
								<div class="form-group">
									<div class="col-6 widget-right no-padding">
										<button type="submit" class="btn btn-primary btn-md float-right">Login</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</section>
			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    
    <script src="static/js/tether.min.js"></script>
    
	  </body>
</html>
