<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta name="description" content="">
	
	<meta name="author" content="">
	
	<link rel="icon" href="static/images/aarg.png">
	
	<title>Robot Control</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Fonts-->
    <link href="static/css/fonts-all.css" rel="stylesheet">
    
    <!-- Icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="/"><em class="fa fa-android"></em> Minion Control</a></h1>
				
				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
				
				<ul class="nav nav-pills flex-column sidebar-nav">
					<li class="nav-item"><a class="nav-link" href="/welcome"><em class="fa fa-home"></em> Welcome</a></li>
					<li class="nav-item"><a class="nav-link active" href="/speed_control"><em class="fa fa-cogs"></em> Speed Control<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/piston_control"><em class="fa fa-cogs"></em> Piston Control</a></li>
					<li class="nav-item"><a class="nav-link" href="/go_to_goal"><em class="fa fa-cogs"></em> Go To Goal</a></li>
				</ul>
					
				<a href="/signout" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>
			
			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
				<header class="page-header row justify-center">
					<div class="col-md-6 col-lg-8" >
						<h1 class="float-left text-center text-md-left">Speed Control</h1>
					</div>
					
					<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="static/images/aarg.png" alt="profile photo" class="float-left img-fluid im-thumbnail" width="30" height="auto">
						
						<div class="username mt-1">
							<h4 class="mb-1">{{active_user}}</h4>
						</div>
						</a>
						
						<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
						     <a class="dropdown-item" href="/signout"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
					</div>
					
					<div class="clear"></div>
				</header>

				
				<section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-9">
								<form class="form-horizontal" action="/speed_control" method="post"> 
									<fieldset>
										<div class="form-group">
										<label class="col" for="name"><h5>Set Command Velocities</h5></label>
										<br>
										<br>
											<div class="row">
												<div class="col-sm-6">
												<label for="rid" class="col"><strong>Select Robot</strong></label>
													<div class="btn-group" data-toggle="buttons">
													{% for cnt in range(9) %}
														{% if cnt == 0 %}
													  	<label class="btn btn-primary active">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off" checked> {{cnt}}
													  	</label>
													  	{% else %}
													  	<label class="btn btn-primary">
													    	<input type="radio" name="rid" id="option{{cnt}}" value="{{cnt}}" autocomplete="off"> {{cnt}}
													  	</label>
													  	{% endif %}
													{% endfor %}
												</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-sm-4">
												<label for="vel" class="col"><strong>Linear Velocity (v)</strong></label>
													<div class="col-10">
													    <input class="form-control" name="vel" type="number"  id="vel" min="-0.35" max="0.35" step="0.01" value="0">
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-sm-4">
													<label for="omega" class="col"><strong>Angular Velocity (w)</strong></label>
													<div class="col-10">
													    <input class="form-control" type="number" name="omega"  id="omega" min="-3.1" max="3.1" step="0.1" value="0">
													</div>
												</div>
												<!-- Form actions -->
												<div class="form-group">
													<div class="col-10 widget-right col-form-label">
													<br>
														<button id="sub" type="submit" class="btn btn-primary btn-md float-right">Send Cmd Vel</button>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
								</form>	
							</div>
						</section>
					</div>
				</section>
			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-datepicker.js"></script>
    <script src="static/js/custom.js"></script>
    <script src="static/js/tether.min.js"></script>
	</body>
</html>
