<launch>
  
  <!--Start Decawave-->
  <node ns="R3" name="deca_ard" pkg="ros_ard_deca" type="arduino_deca_node.py" output="screen">
      <rosparam file="$(find ros_ard_deca)/config/my_arduino_params.yaml" command="load" />
  </node>

  <!--Start Trilateration-->
  <node ns="R3" name="decawave" pkg="pibot" type="trilateration.py" output="screen" >
  <param name="MAX_TAGS" type="string" value="3"/>
  <param name="T1" type="string" value="6.63, 0.42"/>
  <param name="T2" type="string" value="0.22, 4.62"/>
  <param name="T3" type="string" value="7.47, 7.64"/>
  <!-- <param name="T4" type="string" value="0.80, 2.32"/> -->
  </node>
  
  <!--Arduino Activate-->
  <node ns="R3" name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
  </node>

  <!-- Start IMU -->
  <node ns="R3" name="imu_sens" pkg="pibot" type="imu9250.py" output="screen" />

  #### Nodelet manager ######################################################

  <node ns="R3" pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node ns="R3" pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
    output="screen">
    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="4"/>
  </node>

  #### Complementary filter

  <node ns="R3" pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="publish_debug_topics" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.08"/>
    <param name="gain_mag" value="0.7"/>
  </node>

</launch>

