<launch>
  <arg name="robot_list1" default="[]"/>
  <arg name="piston_status1" default="1"/>

<node name="target" pkg="workflow" type="broadcast_piston.py" output="screen">
  	<!-- <param name="robot_list" value="$(arg robot_list1)"/> -->
  	<rosparam param="robot_list" subst_value="True">$(arg robot_list1)</rosparam>
  	<param name="piston_status" value="$(arg piston_status1)"/>

</node>
</launch>
